body {
  font-size: 15px;
  background: black;
}

h2 {
  color: white;
}

img {
  max-width: 100%;
}

button {
  background: black;
  border: black;
  cursor: pointer;
}

.billabong {
  font-family: billabong;
  font-size: 60px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white url(assets/images/logo.jpeg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  padding: 5px;

}

.hero > h1 {
  font-size: 60px;
}

.hero > p {
  font-size: 30px;
}

.cta {
  background: #E80D11;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.primary {
  font-size: 60px;
  font-weight: 300px;
  font-family: 'Delius Swash Caps', cursive;
}

.secondary {
  font-size: 25px;
  font-family: 'Itim', cursive;
}

.about {
  background: black;
  font-family: 'Delius', cursive;
  color: white;
  margin-top: 20px;
  margin-bottom: -120px;
  padding: 50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

.about h2 {
  color: black;
}

.about__details {
  font-size: 50px;
  padding-left: 30px;
  margin-top: -100px;
  align-items: center; 
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), grey, transparent);
}

.gallery h2:after {
  --direction: right;
}

#name {
  font-size: 75px;
  font-weight: 300px;
  font-family: 'Delius Swash Caps', cursive;
}

#yelp {
  width: 200px;
}

@font-face {
  font-family: billabong;
  src: url('./assets/fonts/billabong.ttf');
}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2"
  }

  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2"
  }